/* Style the toggle switch checkbox container */
.toggle-checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 0 20px 0;
  cursor: pointer;
  font-size: inherit; /* Use default font size */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; /* Make toggle switch only clickable when hovered over toggle switch */
}

/* Hide the default checkbox */
.toggle-checkbox-container input {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  cursor: pointer;
}

/* Create a custom toggle switch */
.toggle-checkbox {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(180deg); /* Rotate toggle switch 180 degrees */
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 30px;
  overflow: hidden; /* Prevent toggle switch handle from extending past toggle switch container */
}

/* Style the toggle switch handle */
.toggle-checkbox::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background-color: #fff;
  border-radius: 50%; /* Make the toggle switch handle a circle */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* On mouse-over, add a grey background color */
.toggle-checkbox-container:hover input ~ .toggle-checkbox {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background color and slide the handle to the left */
.toggle-checkbox-container input:checked ~ .toggle-checkbox {
  background-color: #2196F3;
}

.toggle-checkbox-container input:checked ~ .toggle-checkbox::before {
  transform: translateX(-100%); /* Slide toggle switch handle to the left */
}
