/* Style the switch container */
.switch-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the default checkbox */
.switch-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom switch */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:
