/* Style the light slider container */
.light-slider-container {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 0 20px 0;
}

/* Style the light slider */
.light-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background-color: #ccc;
  outline: none; /* Remove default outline */
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Style the light slider thumb */
.light-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  background-color: #fff;
  border-radius: 50%; /* Make the light slider thumb a circle */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Remove outline from light slider when clicked */
input[type="range"]:active::-webkit-slider-thumb {
  outline: none;
}

/* Style the light slider label */
.light-slider-label {
  margin: 0 10px 0 0;
  font-size: inherit; /* Use default font size */
}
