/* Style the light slider container */
.light-slider-container {
  position: relative;
  margin: 20px 0;
}

/* Style the light slider */
.light-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  cursor: pointer;
  outline: none; /* Remove outline when dragging */
  background: #ddd;
  border-radius: 10px;
}

/* Style the light slider thumb */
.light-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 50%; /* Make the thumb a circle */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.light-slider::-moz-range-thumb {
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 50%; /* Make the thumb a circle */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
